# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyd

# =====================
# Environments
# =====================
.env
.venv
env/
TradeSense/

# =====================
# DATA (ABSOLUTELY IGNORE ALL DATA)
# =====================
data/
!data/.gitkeep

# =====================
# Logs
# =====================
logs/
*.log

# =====================
# OS / Editor
# =====================
.vscode/
.DS_Store
Thumbs.db
